<template>
	<div>
		<p>Doing：{{ list.length - donenum }} Done：{{ donenum }}</p>
		<el-row v-for="(item, index) in list" :key="index" class="list-row">
			<el-col
				:xs="2"
				:sm="1"
				:md="1"
				:lg="1"
				:xl="1"
				class="check"
				:class="{
					red: !list[index].done,
					green: list[index].done,
				}"
			>
				<el-checkbox size="mini" v-model="item.done"></el-checkbox>
			</el-col>
			<el-col :xs="20" :sm="22" :md="22" :lg="22" :xl="22">
				<input
					type="text"
					v-model="item.content"
					class="ipcont"
					:class="{ done: list[index].done }"
				/>
			</el-col>
			<el-col :xs="2" :sm="1" :md="1" :lg="1" :xl="1" class="close">
				<!-- <i class="el-icon-close" @click="del(index)"></i> -->
				<el-button
					class="el-icon-close"
					@click="delTask(index)"
					type="danger"
				></el-button>
			</el-col>
		</el-row>
	</div>
</template>

<script>
export default {
	name: 'TodoList',
	props: {
		list: {
			type: Array,
			required: true,
			default: [],
		},
	},
	methods: {
		delTask(index) {
			this.list.splice(index, 1)
		},
	},
	computed: {
		donenum: function () {
			return this.list.filter(function (val) {
				return val.done
			}).length
		},
	},
}
</script>

<style lang="less" scoped>
.list-row {
	height: 40px;
	background-color: #fbfbfb;
	margin-bottom: 5px;
}
.check {
	text-align: center;
	line-height: 40px;
}
.red {
	border-left: #ef5f65 2px solid;
}
.green {
	border-left: #b9e1dc 2px solid;
}
.ipcont {
	width: 90%;
	margin-top: 8px;
	border: 0;
	line-height: 24px;
	background-color: transparent;
	font-size: 16px;
	color: #756c83;
}
.close {
	text-align: center;
	line-height: 40px;
}
.el-icon-close {
	cursor: pointer;
}
.el-icon-close:hover {
	color: #ef5f65;
}
.done {
	text-decoration: line-through;
}
</style>
