<template>
	<div>
		<el-input
			placeholder="New Task"
			class="todoinput"
			@keyup.enter.native="addTask"
			v-model.trim="newtodo.content"
		>
		</el-input>
		<el-button type="primary" class="addbtn" @click="addTask"
			><i class="el-icon-plus"></i> Add
		</el-button>
	</div>
</template>

<script>
export default {
	name: 'TodoInput',
	data() {
		return {
			newtodo: {
				content: '',
				done: false,
			},
		}
	},
	methods: {
		addTask() {
			if (this.newtodo.content) {
				this.list.push(this.newtodo)
				this.newtodo = { content: '', done: false }
			}
		},
	},
	props: {
		list: {
			type: Array,
			required: true,
			default: [],
		},
	},
}
</script>

<style lang="less" scoped>
.todoinput {
	width: 1140px;
}

.addbtn {
	float: right;
	margin-right: 30px;
}
</style>
