<template>
	<div>
		<el-header height="20">
			<h1>TodoList</h1>
		</el-header>

		<todo-input :list="todolist"></todo-input>
		<todo-list :list="todolist"></todo-list>
        
		<el-button type="warning" @click="clearDone"
			><i class="el-icon-check"></i> Clear Done
		</el-button>
		<el-button type="danger" @click="clearAll"
			><i class="el-icon-delete"></i> Clear All</el-button
		>
	</div>
</template>

<script>
import TodoList from './components/todo-list/TodoList.vue'
import TodoInput from './components/todo-input/TodoInput.vue'
export default {
	name: 'App',
	methods: {
		clearDone() {
			this.todolist = this.todolist.filter(this.inProgress)
		},
		clearAll() {
			this.todolist = []
		},
		inProgress(todolist) {
			return !this.isDone(todolist)
		},
		isDone(todolist) {
			return todolist.done
		},
	},
	data() {
		return {
			todolist: [
				{
					content: 'Make todo list',
					done: true,
				},
				{
					content: 'Go skydiving',
					done: false,
				},
			],
		}
	},
	components: {
		TodoList,
		TodoInput,
	},
}
</script>

<style lang="less" scoped>
.el-header {
	text-align: center;
}
</style>
